<!-- <nav class="navbar navbar-expand-lg bg-transparent-tertiary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
  </nav> -->

<header>
  <div class="grid">
    <div class="col-3 logo">
      <img src="assets/images/logo.png" alt="LOGO" />
    </div>
     <div class="col-4 search text-center  font-extralight bg-slate-900" >
            Mohsin Zaheer
        </div> 
    <div class="col-4 col-offset-1 navigation">
      <ul class="nav">
        <li><a>Home</a></li>
        <li><a routerLink="/product-list">Products</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
    <div class="col-2 col-offset-2 tools">
      <p-button class="p-button-sm " [rounded]="true" label="Download CV" ></p-button>
    </div>
  </div>
</header>

<h1 class="text-3xl font-bold  text-blue-500">TailWind is working</h1>
