<!-- <div class="header font-poppins text-indigo-500 md:h-12 md:text-2xl text-sm font-semibold flex  justify-between items-center">
  <div class="logo ml-3">
    <img class="w-auto h-10" src="assets/images/themes/linkedin.png" >
  </div>
  <div class="navigation">
    <ul class="md:flex flex mt-4 md:mt-0  text-indigo-500 cursor-pointer" id="navbarNav">
      <li class="mx-2 hover:text-indigo-950"><a href="">Tech Stack</a></li>
      <li class="mx-2 hover:text-indigo-950">Projects</li>
      <li class="mx-2 hover:text-indigo-950">Experience</li>
      <li class="mx-2 hover:text-indigo-950">Contact</li>

    </ul>
  </div>
  
  <div class="cvButton hidden md:block mr-3 ">
    <button class="bg-indigo-500 text-sm text-white py-2 px-3 hover:bg-indigo-600 border rounded-full">
      <a href="/assets/Mohsin Zaheer_Resume.pdf" download="cv.pdf">Download CV</a>
    </button>
  </div>
</div> -->

<!-- <div class="header  font-poppins   text-indigo-500 md:h-20  md:text-2xl text-sm font-semibold justify-end  flex md:justify-between md:items-center">
  <div class="logo ml-3 md:block hidden" >
    <img class="w-auto h-10" src="assets/images/themes/linkedin.png" >
  </div>
  <div class="navigation  md:flex flex-col md:flex-row md:mt-0 mt-4" id="navbarNav" [class.hidden]="!showMenu" >
    <ul class="md:flex text-center  w-[90vw] md:w-auto flex mt-4 md:mt-0  text-indigo-500 cursor-pointer flex-col md:flex-row">
      <li class="mx-2 hover:text-indigo-950"><a href="">Tech Stack</a></li>
      <li class="mx-2 hover:text-indigo-950">Projects</li>
      <li class="mx-2 hover:text-indigo-950">Experience</li>
      <li class="mx-2 hover:text-indigo-950">Contact</li>
    </ul>
  </div>
  
  <div class="cvButton hidden md:block mr-3 ">
    <button class="bg-indigo-500 text-sm text-white py-2 px-3 hover:bg-indigo-600 border rounded-full">
      <a href="/assets/Mohsin Zaheer_Resume.pdf" download="cv.pdf">Download CV</a>
    </button>
  </div>

  <div class="cvButton md:hidden mr-3 ">
    <button class="bg-indigo-500 text-sm text-white py-2 px-3 hover:bg-indigo-600 border rounded-full" (click)="toggleMenu()">
      <span>&#9776;</span>
    </button>
  </div>

  
</div> -->
