<div class="header font-poppins  md:h-24 md:text-2xl  font-semibold flex text-black justify-between items-center">
  <div class="logo ml-3">
    <img class="w-auto h-10" src="assets/images/themes/linkedin.png" >
  </div>
  <div class="navigation">
    <ul class="md:flex flex mt-4 md:mt-0  text-indigo-500 cursor-pointer" id="navbarNav">
      <li class="mx-2 hover:text-indigo-950"><a href="">Tech Stack</a></li>
      <li class="mx-2 hover:text-indigo-950">Projects</li>
      <li class="mx-2 hover:text-indigo-950">Experience</li>
      <li class="mx-2 hover:text-indigo-950">Contact</li>

    </ul>
  </div>
  
  <div class="cvButton hidden md:block mr-3 ">
    <button class="bg-indigo-500 text-sm text-white py-2 px-3 hover:bg-indigo-600 border rounded-full">Download CV</button>
  </div>
</div>