<!-- ng build --base-href --output-path docs --base-href "https://oaymohsin.github.io/portfolio/" -->
<!-- npx angular-cli-ghpages --dir=dist/portfolio/browser -->

<!-- header  -->

<div
  class="header font-poppins text-indigo-500 md:h-20 md:text-2xl text-sm  justify-end flex md:justify-between md:items-center"
>
  <div class="logo ml-3 md:block hidden">
    <img class="w-auto h-10" src="assets/images/themes/linkedin.png" />
  </div>
  <div
    class="navigation md:flex flex-col md:flex-row md:mt-0 mt-4"
    id="navbarNav"
    [class.hidden]="!showMenu"
  >
    <ul
      class="md:flex text-center w-[90vw] md:w-auto flex my-4 md:mt-0 text-indigo-500 cursor-pointer flex-col md:flex-row"
    >
      <li class="mx-2 hover:text-indigo-950">
        <a href="techStack">Tech Stack</a>
      </li>
      <li class="mx-2 hover:text-indigo-950">Projects</li>
      <li class="mx-2 hover:text-indigo-950">Experience</li>
      <li class="mx-2 hover:text-indigo-950">Contact</li>
      <li class="mx-2 hover:text-indigo-950">
        <div class="cvButton md:hidden block ">
          <button
            class="bg-indigo-500 m-auto text-[10px] md:text-sm text-white  px-3 hover:bg-indigo-600 border rounded-full"
          >
            <a href="/assets/Mohsin Zaheer_Resume.pdf" download="cv.pdf"
              >Download CV</a
            >
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="cvButton hidden md:block mr-3">
    <button
      class="bg-indigo-500 text-sm text-white py-2 px-3 hover:bg-indigo-600 border rounded-full"
    >
      <a href="/assets/Mohsin Zaheer_Resume.pdf" download="cv.pdf"
        >Download CV</a
      >
    </button>
  </div>

  <div class="cvButton md:hidden mr-3">
    <button
      class="bg-indigo-500 text-sm text-white py-2 px-3 hover:bg-indigo-600 border rounded-full"
      (click)="toggleMenu()"
    >
      <span>&#9776;</span>
    </button>
  </div>
</div>

<!-- header  -->

<div
  class="font-poppins overflow-hidden hero-section text-indigo-500 mt-2 md:mt-12 flex items-center justify-center"
>
  <div
    class="grid grid-cols-12 gap-4 w-[80%] place-items-center place-content-center"
  >
    <div class="col-span-8 p-4 flex flex-col items-center justify-end   ">
      <div class="flex flex-col">
        <h3 class="font-semibold pb-0 text-[20px] md:text-[40px]">
          Hello,<span class="text-black">I'm</span>
        </h3>
        <div
          class="font-bold leading-tight text-[30px] md:text-[80px] pt-0 pb-2  hover:animate-bounce"
        >
          Mohsin Zaheer
        </div>
        <h4
          class="font-li tracking-wider leading-tight text-[20px] md:text-[40px] mb-3"
        >
          Full Stack Web Developer
        </h4>
        <p class="md:w-[80%] w-[100%] md:text-xl leading-tight">
          <span class="font-semibold text-[25px]">2+</span> years of experience
          building interactive web applications with
          <span class="font-semibold text-lg md:text-[25px]">Angular</span> and
          <span class="font-semibold text-lg text-[25px]">Node.js</span>. Proven ability
          to deliver performant and scalable solutions.
        </p>
      </div>
    </div>
    <div
      class="col-span-4 p-4 relative flex flex-col "
    >
      <img
        class="z-10 h-auto min-w-60 min-h-60 relative w-full"
        src="./assets/images/themes/profile.png"
        alt=""
      />
    </div>
  </div>
</div>

<!-- Services Section -->
<div class="services mt-10" id="techStack">
  <div class="heading flex flex-row items-center justify-center my-[40px]">
    <div class="left-line w-[150px] md:w-[300px] h-[2px] bg-indigo-500"></div>
    <div
      class="heading p-6 bg-transparent text-indigo-500 flex text-center font-bold text-[25px] md:text-[40px]"
    >
      Technologies&nbsp;<span class="font-light">
        I'm&nbsp;Working&nbsp;with</span
      >
    </div>
    <div class="left-line w-[150px] md:w-[300px] h-[2px] bg-indigo-500"></div>
  </div>
  <div class="grid grid-cols-12 w-[80%] md:w-[60%] m-auto">
    <div class="card p-2 col-span-2 flex flex-col items-center justify-center">
      <img
        class="w-12 md:w-16"
        src="./assets/images/icons/tailwind.svg"
        alt=""
      />
      <!-- <div class="font-thin text-xl mt-5 text-indigo-500">Tailwind CSS</div> -->
    </div>
    <div class="card p-2 col-span-2 flex flex-col items-center justify-center">
      <img class="w-12 md:w-16" src="./assets/images/icons/css.svg" alt="" />
      <!-- <div class="font-thin text-xl mt-5 text-indigo-500">CSS 3</div> -->
    </div>
    <div class="card p-2 col-span-2 flex flex-col items-center justify-center">
      <img class="w-12 md:w-16" src="./assets/images/icons/git.svg" alt="" />
      <!-- <div class="font-thin text-xl mt-5 text-indigo-500">CSS 3</div> -->
    </div>
    <div class="card p-2 col-span-2 flex flex-col items-center justify-center">
      <img
        class="w-12 md:w-16"
        src="./assets/images/icons/bootstrap.svg"
        alt=""
      />
      <!-- <div class="font-thin text-xl mt-5 text-indigo-500">CSS 3</div> -->
    </div>
    <div class="card p-2 col-span-2 flex flex-col items-center justify-center">
      <img class="w-12 md:w-16" src="./assets/images/icons/sass.svg" alt="" />
      <!-- <div class="font-thin text-xl mt-5 text-indigo-500">CSS 3</div> -->
    </div>
    <div class="card p-2 col-span-2 flex flex-col items-center justify-center">
      <img
        class="w-12 md:w-16"
        src="./assets/images/icons/photoshop.svg"
        alt=""
      />
      <!-- <div class="font-thin text-xl mt-5 text-indigo-500">CSS 3</div> -->
    </div>
  </div>

  <div
    class="grid grid-cols-12 w-[80%] md:w-[60%] place-content-center mx-auto mt-6 place-items-center"
  >
    <div class="card p-2 col-span-2 flex items-center justify-center">
      <img class="w-12 md:w-16" src="./assets/images/icons/angular.svg" alt="" />
    </div>
    <div class="card p-2 col-span-2 flex items-center justify-center">
      <img class="w-12 md:w-16" src="./assets/images/icons/node.svg" alt="" />
    </div>
    <div class="card p-2 col-span-2 flex items-center justify-center">
      <img
        class="w-12 md:w-16 h-16"
        src="./assets/images/icons/mongodb.svg"
        alt=""
      />
    </div>
    <div class="card p-2 col-span-2 flex items-center justify-center">
      <img class="w-12 md:w-16" src="./assets/images/icons/express.svg" alt="" />
    </div>
    <div class="card p-2 col-span-2 flex items-center justify-center">
      <img class="w-12 md:w-16" src="./assets/images/icons/github.png" alt="" />
    </div>
    <div class="card p-2 col-span-2 flex items-center justify-center">
      <img
        class="w-12 md:w-16"
        src="./assets/images/icons/html-icon.svg"
        alt=""
      />
    </div>
  </div>
</div>

<!-- services section -->

<!-- projects section -->

<div class="heading flex flex-row items-center justify-center my-[40px]">
  <div class="left-line w-[300px] h-[2px] bg-indigo-500"></div>
  <div
    class="heading p-6 bg-transparent text-indigo-500 text-center font-light text-[25px] md:text-[40px] flex"
  >
    My&nbsp;Recent <span class="font-bold"> &nbsp;Projects </span>
  </div>
  <div class="left-line w-[300px] h-[2px] bg-indigo-500"></div>
</div>

<div
  class="m-auto projects grid grid-cols-12 mt-6 gap-3 max-w-[1200px]"
  id="projects"
>
  <div
    class="col-span-12 md:col-span-4 card flex m-10 md:m-2 justify-content-center"
  >
    <p-card
      header="Advanced Card"
      subheader="Card Subheader"
      class="w-auto m-3"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt quisquam repellat libero
        asperiores earum nam nobis, culpa ratione quam perferendis esse,
        cupiditate neque quas!
      </p>
      <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button
          label="Cancel"
          icon="pi pi-times"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
  <div
    class="col-span-12 md:col-span-4 card flex m-10 md:m-2 justify-content-center"
  >
    <p-card
      header="Advanced Card"
      subheader="Card Subheader"
      class="md:w-auto m-3"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt quisquam repellat libero
        asperiores earum nam nobis, culpa ratione quam perferendis esse,
        cupiditate neque quas!
      </p>
      <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button
          label="Cancel"
          icon="pi pi-times"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
  <div
    class="col-span-12 md:col-span-4 card flex m-10 md:m-2 justify-content-center"
  >
    <p-card
      header="Advanced Card"
      subheader="Card Subheader"
      class="w-auto m-2"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt quisquam repellat libero
        asperiores earum nam nobis, culpa ratione quam perferendis esse,
        cupiditate neque quas!
      </p>
      <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button
          label="Cancel"
          icon="pi pi-times"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>

<!-- contact section -->
<div class="heading flex flex-row items-center justify-center mt-[40px]">
  <div class="left-line w-[300px] h-[2px] bg-indigo-500"></div>
  <div
    class="heading p-6 bg-transparent text-indigo-500 text-center font-bold text-[25px] md:text-[40px] flex"
  >
    Contact&nbsp;<span class="font-light"> me</span>
  </div>
  <div class="left-line w-[300px] h-[2px] bg-indigo-500"></div>
</div>

<div
  class="contact-me grid grid-cols-12 w-[70%] place-items-center m-auto mb-[40px]"
>
  <div class="col-span-12 md:col-span-4 flex items-center my-[10px]">
    <div
      class="icon hover:bg-indigo-500 bg-white text-indigo-500 hover:text-white hover:border-solid border-2 border-indigo-500 rounded-full h-8 w-8 md:h-16 text-center md:w-16 flex items-center justify-center"
    >
      <i class="pi pi-phone md:text-xl"></i>
    </div>
    <div class="numbers font-bold ml-3">
      <div class="text-indigo-500">+92-3005410552</div>
      <div class="text-indigo-500">+92-3411410552</div>
    </div>
  </div>
  <div class="col-span-12 md:col-span-4 flex items-center my-[10px]">
    <div
      class="icon hover:bg-indigo-500 bg-white text-indigo-500 hover:text-white hover:border-solid border-2 border-indigo-500 rounded-full h-8 w-8 md:h-16 text-center md:w-16 flex items-center justify-center"
    >
      <i class="pi pi-envelope md:text-xl"></i>
    </div>
    <div class="numbers font-bold ml-3">
      <div class="text-indigo-500">msnoay&#64;hotmail.com</div>
      <!-- <div class="text-indigo-500">+92-3411410552</div> -->
    </div>
  </div>
  <div class="col-span-12 md:col-span-4 flex items-center my-[10px]">
    <div
      class="icon hover:bg-indigo-500 bg-white text-indigo-500 hover:text-white hover:border-solid border-2 border-indigo-500 rounded-full h-8 w-8 md:h-16 text-center md:w-16 flex items-center justify-center"
    >
      <!-- <i class="pi pi-phone"></i>   -->
      <img class="md:w-8" src="./assets/images/icons/whatsapp.png" alt="" />
    </div>
    <div class="numbers font-bold ml-3">
      <div class="text-indigo-500">+92-3005410552</div>
    </div>
  </div>
</div>

<!-- Social media  -->
<div
  class="social-media flex w-auto md:w-[600px] items-center justify-around m-auto"
>
  <div class="left-line w-[150px] md:w-[300px] h-[2px] bg-indigo-500"></div>

  <div class="socialicons flex justify-around w-[500px]">
    <div class="col-span-4 flex items-center mt-2">
      <div
        class="icon hover:border-solid rounded-full h-16 text-center w-16 flex items-center justify-center"
      >
        <img
          class="w-12 hover:w-14 hover:animate-pulse"
          src="./assets/images/icons/linkedin.png"
          alt=""
        />
      </div>
    </div>

    <div class="col-span-4 flex items-center mt-2">
      <div
        class="icon hover:border-solid rounded-full h-16 text-center w-16 flex items-center justify-center"
      >
        <img
          class="w-12 hover:w-14 hover:animate-pulse"
          src="./assets/images/icons/github.png"
          alt=""
        />
      </div>
    </div>

    <div class="col-span-4 flex items-center mt-2">
      <div
        class="icon hover:border-solid rounded-full h-16 text-center w-16 flex items-center justify-center"
      >
        <img
          class="w-12 hover:w-14 hover:animate-pulse"
          src="./assets/images/icons/twitter.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="left-line w-[150px] md:w-[300px] h-[2px] bg-indigo-500"></div>
</div>

<!-- footer  -->

<footer class="bg-indigo-500 h-16 mb-0 mt-10 flex items-center justify-center">
  <p>&copy; 2024 All rights reserved | <b>Mohsin Zaheer</b></p>
</footer>
