<div class="font-poppins hero-section text-indigo-500 md:mt-12 mt-12 flex items-center justify-center">
    <div class="grid grid-cols-12 gap-4 w-[80%] place-items-center place-content-center ">
        <div class="col-span-8 p-4 flex flex-col  items-center">
            <div class=" ">
                <h3 class="font-semibold pb-0 text-[25px] md:text-[40px]">Hello,<span class="text-black">I'm</span></h3>
                <div class="font-bold leading-tight  text-[40px] md:text-[80px] pt-0 pb-2">Mohsin Zaheer</div>
                <h4 class="font-li tracking-wider leading-tight text-[25px] md:text-[40px] mb-3">Full Stack Web Developer</h4>
                <p class="md:w-[600px] md:text-xl leading-tight">  cupiditate molestias similique exercitationem esse optio? Ea atque quibusdam optio, natus asperiores et illo nesciunt laboriosam.</p>

            </div>

        </div>
        <div class="col-span-4 p-4 relative flex flex-col justify-start items-start ">
            <img class="z-10 h-auto relative w-full" src="/assets/images/themes/profile.png" alt="">
            
        </div>
        
    </div>
      
</div>

<!-- Services Section -->
<div class="services  mt-10 ">
    <div class="heading p-6 m-auto mb-8 md:mb-20  bg-indigo-500 text-center font-bold text-[30px]">Technologies I am working with</div>
    <div class="grid grid-cols-12 w-[80%] md:w-[60%] m-auto">
        <div class="card col-span-2 flex flex-col items-center justify-center">
            <img class="w-16" src="/assets/images/icons/tailwind.svg" alt="">
            <!-- <div class="font-thin text-xl mt-5 text-indigo-500">Tailwind CSS</div> -->
        </div>
        <div class="card col-span-2 flex flex-col items-center justify-center">
            <img class="w-16" src="/assets/images/icons/css.svg" alt="">
            <!-- <div class="font-thin text-xl mt-5 text-indigo-500">CSS 3</div> -->

        </div>
        <div class="card col-span-2 flex flex-col items-center justify-center">
            <img class="w-16" src="/assets/images/icons/git.svg" alt="">
            <!-- <div class="font-thin text-xl mt-5 text-indigo-500">CSS 3</div> -->

        </div>
        <div class="card col-span-2 flex flex-col items-center justify-center">
            <img class="w-16" src="/assets/images/icons/bootstrap.svg" alt="">
            <!-- <div class="font-thin text-xl mt-5 text-indigo-500">CSS 3</div> -->

        </div>
        <div class="card col-span-2 flex flex-col items-center justify-center">
            <img class="w-16" src="/assets/images/icons/sass.svg" alt="">
            <!-- <div class="font-thin text-xl mt-5 text-indigo-500">CSS 3</div> -->

        </div>
        <div class="card col-span-2 flex flex-col items-center justify-center">
            <img class="w-16" src="/assets/images/icons/photoshop.svg" alt="">
            <!-- <div class="font-thin text-xl mt-5 text-indigo-500">CSS 3</div> -->

        </div>

    </div>

    <div class="grid grid-cols-12 w-[80%] md:w-[60%] place-content-center  mx-auto mt-6 place-items-center">
        <div class="card col-span-2 flex items-center justify-center ">
            <img class="w-16" src="/assets/images/icons/angular.svg" alt="">
        </div>
        <div class="card col-span-2 flex items-center justify-center">
            <img class="w-16" src="/assets/images/icons/node.svg" alt="">
        </div>
        <div class="card col-span-2 flex items-center justify-center">
            <img class="w-16 h-16" src="/assets/images/icons/mongodb.svg" alt="">
        </div>
        <div class="card col-span-2 flex items-center justify-center">
            <img class="w-16" src="/assets/images/icons/express.svg" alt="">
        </div>
        <div class="card col-span-2 flex items-center justify-center">
            <img class="w-16" src="/assets/images/icons/github.png" alt="">
        </div>
        <div class="card col-span-2 flex items-center justify-center">
            <img class="w-16" src="/assets/images/icons/html-icon.svg" alt="">
        </div>

    </div>
</div>